@import "tailwindcss";

/* ---------- Theme ---------- */

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* ---------- Floating Background ---------- */

@keyframes float {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-60px, 40px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes float2 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(60px, -50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.animate-float {
  animation: float 14s ease-in-out infinite;
}

.animate-float2 {
  animation: float2 18s ease-in-out infinite;
}

/* ---------- Fade Up ---------- */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(35px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1s ease forwards;
}

/* ---------- Gradient Text ---------- */

.gradient-text {
  background: linear-gradient(
    90deg,
    #22c55e,
    #4ade80,
    #ffffff
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ---------- Scrollbar ---------- */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 999px;
}
/* ===========================
   GRID
=========================== */

.bg-grid{
  background-image:
  linear-gradient(rgba(255,255,255,0.07) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,0.07) 1px, transparent 1px);

  background-size:60px 60px;
}

/* ===========================
   AURORA
=========================== */

@keyframes aurora1{

0%{
transform:translate(0,0);
}

50%{
transform:translate(100px,80px);
}

100%{
transform:translate(0,0);
}

}

@keyframes aurora2{

0%{
transform:translate(0,0);
}

50%{
transform:translate(-120px,100px);
}

100%{
transform:translate(0,0);
}

}

@keyframes aurora3{

0%{
transform:translate(0,0);
}

50%{
transform:translate(90px,-90px);
}

100%{
transform:translate(0,0);
}

}

/* ===========================
   STARS
=========================== */

.stars{

position:absolute;
inset:0;

background-image:
radial-gradient(white 1px, transparent 1px);

background-size:120px 120px;

opacity:0.18;

animation:twinkle 6s ease-in-out infinite;

}

@keyframes twinkle{

0%{
opacity:0.10;
}

50%{
opacity:0.22;
}

100%{
opacity:0.10;
}

}

/* ===========================
   NOISE
=========================== */

.noise{

background-image:url("https://www.transparenttextures.com/patterns/asfalt-dark.png");

mix-blend-mode:soft-light;

}